Package: com.gulam.spinfindmyiphone
Name: SpinFindMyiPhone
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Dynamically rotating FindMyiPhone app icon(Based on SpinSettings)
Maintainer: Gulam Mustafa
Author: Gulam Mustafa
Section: Tweaks
